## CM3005 - Data Science Midterm

### Task 1: Domain-Specific Area and Project Objectives

This project focuses on the environmental health research, addressing the challenge of dengue fever prediction in environments with tropical climate. Dengue fever still remains a health challenge in Singapore, with its tropical climate, it creates an ideal conditions for disease transmission. The desease outbreaks poses risks to the population health and healthare resources. This project aims to develop a linear regression model that extinguish the relationship between weather and dengue cases, allowing us to predict and mitigate the disease outbreaks.

Linear regression is an approach that helps us understand how different factors can have some form of relationship that may leads to some serious causes. In this project, this approach allows us to examine the relationship between weather conditions and disease transmission. By analysing weather temperature, rainfall, windspeed, the linear regression model can identify environmental factors that contributes to disease spread. By understanding the factors and relationship, the model will provide a tool for predicting disease outbreak possibilities.

By utilising the linear regression model, the research addressed the challenge where the predictive capabilities in current disease monitering systems are limited. With the linear regression model, it creates an early warning system for the relevant authorities for potential dengue outbreaks. This system allows the relevant authorities to implement prevention strategies, as well as spreading awareness to the public improve the community health preparedness.

### Task 2: Dataset Description
This project utilises a dataset that contains two CSV, namely `sg_weather_record` and `sg_dengue_record`.

**1. Singapore Weather Data `(sg_weather_record)`:**

Singapore weather dataset, collected by the National Environment Agency (NEA) of Singapore providing Singapore's historical daily weather records ranging from 2009 to 2017. This dataset was acquired from a public source at Singapore's Open Data Portal, ensuring that the data is accurate and reliable. The data were stored in a CSV file, containing approximately 2800 entries.

Data Source:
https://data.gov.sg/datasets?resultId=d_03bb2eb67ad645d0188342fa74ad7066&page=1

Column Legend:
|           Title          |        Column name       |     Data type     | Unit of measure |
|:------------------------:|:------------------------:|:-----------------:|:---------------:|
| Date                     | date                     | Date (YYYY-MM-DD) | -               |
| Station                  | station                  | Text              | -               |
| Daily rainfall total     | daily_rainfall_total     | Numeric           | mm              |
| Highest 30 min rainfall  | highest_30_min_rainfall  | Numeric           | mm              |
| Highest 60 min rainfall  | highest_60_min_rainfall  | Numeric           | mm              |
| Highest 120 min rainfall | highest_120_min_rainfall | Numeric           | mm              |
| Mean temperature         | mean_temperature         | Numeric           | Degrees celcius |
| Maximum temperature      | maximum_temperature      | Numeric           | Degrees celcius |
| Minimum temperature      | minimum_temperature      | Numeric           | Degrees celcius |
| Mean wind speed          | mean_wind_speed          | Numeric           | Km/h            |
| Max wind speed           | max_wind_speed           | Numeric           | Km/h            |

<br>

**2. Singapore Dengue Outbreak Data `(sg_weather_record)`:**

Singapore dengue outbreak dataset, collected by the Ministry of Health (MOH) of Singapore providing weekly number of lab-confirmed dengue and dengue haemorrhagic fever cases from 2014 to 2018 in Singapore. This dataset was acquired from a public source at Singapore's Open Data Portal, ensuring that the data is accurate and reliable. The data were stored in a CSV file, containing approximately 530 entries.

Data Source:
https://data.gov.sg/datasets?resultId=d_ac1eecf0886ff0bceefbc51556247015&page=1

Column Legend:
|    Title    | Column name |  Data type  | Unit of measure |
|:-----------:|:-----------:|:-----------:|:---------------:|
| Year        | year        | Year (YYYY) | -               |
| Eweek       | eweek       | Numeric     | Week            |
| Type dengue | type_dengue | Text        | -               |
| Number      | number      | Text        | -               |

### Task 3: Data Preparation

Both of the data from the dataset were provided in the CSV file format, which is common way to store data in a tabular format. The weather dataset contains daily data, including redundant columns like windspeed, weather station and more, which I will remove to focus on the relevant data. Since the dengue dataset is arranged by epidemiological weeks (eweeks), while the weather dataset is daily, I will convert the weather data to match the eweek format by aggregating daily records into weekly data.
The dengue dataset's structure with "Type" as the column header can result in repeated weather conditions and other information when merging both data in one dataset. To address this issue, I will also pivot the dengue data, creating two new separated columns for dengue and DHF cases. This change will avoid duplication of data when merging. Finally, I will merge both dataframe into a single dataframe by inner joining them based on year and eweek.

In [1]:
%pip install pandas

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas in c:\users\jinxu\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jinxu\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jinxu\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jinxu\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jinxu\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\jinxu\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
# Path to the datasets
weather_record_path = 'csv/sg_weather_record.csv'
dengue_record_path = 'csv/sg_dengue_record.csv'

# Load and read the datasets
weather_data = pd.read_csv(weather_record_path)
dengue_data = pd.read_csv(dengue_record_path)

# Print the datasets information
print('\nSingapore Weather Data Information\n')
weather_data.info()
print('\nSingapore Dengue Outbreak Dataset Information\n')
dengue_data.info()

Singapore Weather Data Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2859 entries, 0 to 2858
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      2859 non-null   object
 1   station                   2859 non-null   object
 2   daily_rainfall_total      2859 non-null   object
 3   highest_30_min_rainfall   2859 non-null   object
 4   highest_60_min_rainfall   2859 non-null   object
 5   highest_120_min_rainfall  2859 non-null   object
 6   mean_temperature          2859 non-null   object
 7   maximum_temperature       2859 non-null   object
 8   minimum_temperature       2859 non-null   object
 9   mean_wind_speed           2859 non-null   object
 10  max_wind_speed            2859 non-null   object
dtypes: object(11)
memory usage: 245.8+ KB

Singapore Dengue Outbreak Dataset Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         530 non-null    int64
 1   eweek        530 non-null    int64
 2   type_dengue  530 non-null    object
 3   number       522 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 16.7+ KB

In [4]:
print('Displaying first five entry in weather dataset')
weather_data.head()

Displaying first five entry in weather dataset

,date,station,daily_rainfall_total,highest_30_min_rainfall,highest_60_min_rainfall,highest_120_min_rainfall,mean_temperature,maximum_temperature,minimum_temperature,mean_wind_speed,max_wind_speed
0,2009-01-01,Admiralty,na,na,na,na,na,na,na,na,na
1,2009-01-02,Admiralty,na,na,na,na,na,na,na,na,na
2,2009-01-03,Admiralty,na,na,na,na,na,na,na,na,na
3,2009-01-04,Admiralty,na,na,na,na,na,na,na,na,na
4,2009-01-05,Admiralty,na,na,na,na,na,na,na,na,na

In [5]:
print('Displaying first five entry in dengue dataset')
dengue_data.head()

Displaying first five entry in dengue dataset

   year  eweek type_dengue  number
0  2014      1      Dengue   436.0
1  2014      1         DHF     1.0
2  2014      2      Dengue   479.0
3  2014      2         DHF     0.0
4  2014      3      Dengue   401.0

In [6]:
# Drop the columns that are not needed
for cols in ['station', 'highest_30_min_rainfall','highest_60_min_rainfall', 'highest_120_min_rainfall', 'mean_wind_speed', 'max_wind_speed']:
  weather_data = weather_data.drop(cols, axis = 1)

weather_data.head()

,date,daily_rainfall_total,mean_temperature,maximum_temperature,minimum_temperature
0,2009-01-01,na,na,na,na
1,2009-01-02,na,na,na,na
2,2009-01-03,na,na,na,na
3,2009-01-04,na,na,na,na
4,2009-01-05,na,na,na,na

In [7]:
# Convert the columns into numeric to replace the 'na' with NaN values
for cols in ['daily_rainfall_total', 'mean_temperature', 'maximum_temperature', 'minimum_temperature']:
  weather_data[cols] = pd.to_numeric(weather_data[cols], errors = 'coerce')

# Drop the rows with NaN values
weather_data = weather_data.dropna()
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2709 entries, 23 to 2847
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  2709 non-null   object
 1   daily_rainfall_total  2709 non-null   float64
 2   mean_temperature      2709 non-null   float64
 3   maximum_temperature   2709 non-null   float64
 4   minimum_temperature   2709 non-null   float64
dtypes: float64(4), object(1)
memory usage: 127.0+ KB

In [8]:
# Convert the date column to pandas datetime format
weather_data['date'] = pd.to_datetime(weather_data['date'])

# Get the year from the date
weather_data['Year'] = weather_data['date'].dt.year

# Get the Eweek from the date
# Reference: https://stackoverflow.com/a/31181358
weather_data['Eweek'] = weather_data['date'].dt.isocalendar().week

weather_data.head()

,date,daily_rainfall_total,mean_temperature,maximum_temperature,minimum_temperature,Year,Eweek
23,2009-01-24,0.0,26.8,31.4,24.4,2009,4
24,2009-01-25,0.8,25.9,27.8,24.4,2009,4
25,2009-01-26,0.0,25.9,29.6,23.7,2009,5
27,2009-01-28,0.0,26.6,31.9,23.7,2009,5
28,2009-01-29,0.0,26.3,30.0,23.9,2009,5

In [9]:
# Group the weather data by year and Eweek
weekly_weather_data = weather_data.groupby(['Year', 'Eweek'])

# Aggregrate the data
# Group the sum of daily_rainfall_total, mean of mean_temperature, max of maximum_temperature, min of minimum_temperature to the same year and eweek row
weekly_weather_data = weekly_weather_data.agg({'daily_rainfall_total': 'sum', 'mean_temperature': 'mean', 'maximum_temperature': 'max', 'minimum_temperature': 'min'})

# Reset the index
weekly_weather_data.reset_index(inplace = True)

# Rename the columns
weekly_weather_data.rename(columns={'daily_rainfall_total': 'Weekly Rainfall', 'mean_temperature': 'Mean Temperature', 'maximum_temperature': 'Maximum Temperature', 'minimum_temperature': 'Minimum Temperature'}, inplace=True)

weekly_weather_data.head()

,Year,Eweek,Weekly Rainfall,Mean Temperature,Maximum Temperature,Minimum Temperature
0,2009,4,0.8,26.350000,31.4,24.4
1,2009,5,0.0,26.316667,31.9,23.7
2,2009,6,2.8,26.328571,31.9,23.5
3,2009,7,21.8,27.400000,33.0,23.7
4,2009,8,37.0,27.185714,33.4,23.1

In [10]:
# Rename the columns
dengue_data = dengue_data.rename(columns={'year': 'Year', 'eweek': 'Eweek', 'type_dengue': 'Type', 'number': 'Cases'})

# Convert cases column to numeric and replace the 'na' with NaN values
dengue_data['Cases'] = pd.to_numeric(dengue_data['Cases'], errors = 'coerce')

# Drop the rows with NaN values
dengue_data = dengue_data.dropna()

dengue_data.head()

   Year  Eweek    Type  Cases
0  2014      1  Dengue  436.0
1  2014      1     DHF    1.0
2  2014      2  Dengue  479.0
3  2014      2     DHF    0.0
4  2014      3  Dengue  401.0

In [11]:
# Pivot the table so that the type column will be the column header to prevent duplicate data
dengue_data = dengue_data.pivot(index=['Year', 'Eweek'], columns='Type', values='Cases')

# Rename the columns
dengue_data = dengue_data.rename(columns={'Dengue': 'Dengue Cases', 'DHF': 'DHF Cases'})

# Reset the index
dengue_data.reset_index(inplace=True)

dengue_data.head()

Type  Year  Eweek  DHF Cases  Dengue Cases
0     2014      1        1.0         436.0
1     2014      2        0.0         479.0
2     2014      3        0.0         401.0
3     2014      4        0.0         336.0
4     2014      5        0.0         234.0

In [12]:
# Merge the weather and dengue data by inner join
merged_data = pd.merge(weekly_weather_data, dengue_data, on=['Year', 'Eweek'], how = 'inner')
merged_data.head()

,Year,Eweek,Weekly Rainfall,Mean Temperature,Maximum Temperature,Minimum Temperature,DHF Cases,Dengue Cases
0,2014,1,13.0,25.825000,31.2,23.6,1.0,436.0
1,2014,2,86.6,26.157143,31.9,23.1,0.0,479.0
2,2014,3,0.2,25.757143,29.6,23.5,0.0,401.0
3,2014,4,0.0,25.271429,29.3,22.5,0.0,336.0
4,2014,5,0.0,25.671429,32.4,21.8,0.0,234.0

### Task 4: Statistical analysis

Performing statistical analysis, which includes measuring the central tendency, spread as well as type of distribution of the merge dataset that merges the weather and dengue outbreak data allows us to understand the data patterns. This analysis will explore the key metrics to achieve useful insights why calculating different statistical metrics. By calculating the central tendency, such as mean, median and mode, it allows us to understand the values within each series that are common. Additionally, by measuring the spread, including variance, standard deviation and range will help us understand the dispersion of the data. Furthermore, skewness and krutosis calculation will also be performed to understand the nature of the data distribution. These analysis will allow us to identify patterns of the dataset, helping us to determine which statistical measures are important and are related to the weather and dengue outbreaks.

In [14]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\jinxu\appdata\local\programs\python\python313\lib\site-packages (2.2.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
import numpy as np

**Measures of Central Tendancy**

In [92]:
# Columns to calculate the measures of central tendency
key_metrics = ['Weekly Rainfall', 'Mean Temperature', 'Maximum Temperature', 'Minimum Temperature', 'Dengue Cases', 'DHF Cases']

# Calculate and print the measures of central tendency for the key metrics in 3 decimal places
for key in key_metrics:
  print('\n|----', key, '----|')
  print(f'- Mean: {merged_data[key].mean():.3f}')
  print(f'- Median: {merged_data[key].median():.3f}')
  print(f'- Mode: {merged_data[key].mode()}')

|---- Weekly Rainfall ----|
- Mean: 37.759
- Median: 30.000
- Mode: 0    0.0
Name: Weekly Rainfall, dtype: float64

|---- Mean Temperature ----|
- Mean: 27.760
- Median: 27.764
- Mode: 0    27.2
Name: Mean Temperature, dtype: float64

|---- Maximum Temperature ----|
- Mean: 33.324
- Median: 33.450
- Mode: 0    33.9
Name: Maximum Temperature, dtype: float64

|---- Minimum Temperature ----|
- Mean: 23.892
- Median: 23.700
- Mode: 0    23.3
Name: Minimum Temperature, dtype: float64

|---- Dengue Cases ----|
- Mean: 227.317
- Median: 212.000
- Mode: 0    51.0
Name: Dengue Cases, dtype: float64

|---- DHF Cases ----|
- Mean: 0.366
- Median: 0.000
- Mode: 0    0.0
Name: DHF Cases, dtype: float64

**Measures of Spread**

In [102]:
# Calculate and print the measures of spread for the key metrics in 3 decimal places
for key in key_metrics:
  print('\n|----', key, '----|')
  print(f'- Variance: {merged_data[key].var():.3f}')
  print(f'- Standard Deviation: {merged_data[key].std():.3f}')
  print(f'- Range: {(merged_data[key].max() - merged_data[key].min()):.3f}')

|---- Weekly Rainfall ----|
- Variance: 1188.824
- Standard Deviation: 34.479
- Range: 201.800

|---- Mean Temperature ----|
- Variance: 0.871
- Standard Deviation: 0.933
- Range: 4.629

|---- Maximum Temperature ----|
- Variance: 1.493
- Standard Deviation: 1.222
- Range: 7.000

|---- Minimum Temperature ----|
- Variance: 0.896
- Standard Deviation: 0.947
- Range: 5.500

|---- Dengue Cases ----|
- Variance: 30102.905
- Standard Deviation: 173.502
- Range: 856.000

|---- DHF Cases ----|
- Variance: 0.430
- Standard Deviation: 0.656
- Range: 4.000

**Type of Distribution**

In [103]:
# Calculate and print the measures of skewness and kurtosis for the key metrics in 3 decimal places
for key in key_metrics:
  print('\n|----', key, '----|')
  print(f'- Skewness: {merged_data[key].skew():.3f}')
  print(f'- Kurtosis: {merged_data[key].kurt():.3f}')

|---- Weekly Rainfall ----|
- Skewness: 1.322
- Kurtosis: 2.749

|---- Mean Temperature ----|
- Skewness: -0.099
- Kurtosis: -0.307

|---- Maximum Temperature ----|
- Skewness: -0.743
- Kurtosis: 1.261

|---- Minimum Temperature ----|
- Skewness: 0.530
- Kurtosis: 0.258

|---- Dengue Cases ----|
- Skewness: 1.261
- Kurtosis: 1.639

|---- DHF Cases ----|
- Skewness: 2.229
- Kurtosis: 6.624